@{
    ViewData["Title"] = "Wedding Planner";
}

<div class="page-in-half text-center">
    <!-- Register -->
    <div>
        <partial name="RegistrationPartial">
    </div>
    <!-- Login -->
    <div>
        <partial name="LoginPartial">
    </div>
</div>
