@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Register -->
    <div>
        <!-- Register Form -->
    </div>
    <!-- Login -->
    <div>
        <!-- Login Form -->
    </div>
</div>
